@font-face {
	font-family: 'More Perfect DOS VGA';
	src:
		local('More Perfect DOS VGA'),
		url('assets/MorePerfectDOSVGA.ttf');
}

body {
	background: #0402AC;
	font-family: 'More Perfect Dos VGA', monospace;
	font-size: 1.2em;

	margin: 0;
	padding: 0;

	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
}

.file-explorer {
	height: calc(100% - 0.9em - 24px);
	width: calc(100% - 10px);
	margin-left: 5px;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}


.file-explorer section {
	position: relative;
	height: 100%;
	margin: 10px 1px;

	border-top: 	1px solid #54fefc;
	border-bottom: 	1px solid #54fefc;
	border-left: 	3px solid #54fefc;
	border-right: 	3px solid #54fefc;

	padding-left: 6px;
	padding-right: 6px;
}

.file-explorer .file-section {
	flex-grow: 1.5;
}

.file-explorer .info-section {
	flex-grow: 1;
}

/* double border */
.file-explorer section:before {
	content: " ";
	position: absolute;
	z-index: -1;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;

	border-top: 	1px solid #54fefc;
	border-bottom: 	1px solid #54fefc;
	border-left: 	3px solid #54fefc;
	border-right: 	3px solid #54fefc;
}

/* section heading overlays border */
.file-explorer .heading-center {
	position: absolute;
	top: 0%;
	left: 50%;
}

.file-explorer .heading-center .section-heading {
	position: relative;
	right: 50%;
	top: calc( (-1.2em + 6px) / 2);
	margin: 0;
	background: #04aaac;
	color: #0402ac;
	padding: 4px 10px 0;
	font-size: 1em;
}

/* status line with working directory */
.status-line {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	color: #acaaac;
	background: #040204;
	font-size: 0.9em;
	padding: 2px 0 0;
}

.file-explorer .content {
	height: calc(100% - 1em);
	padding-top: .7em;
	display: flex;
	flex-direction: column;
}

.file-explorer .content .files {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.file-explorer .content .files .row.filler {
	flex-grow: 1;
}

.file-explorer .content .files .row.filler .column {
	height: 100%;
}

.file-explorer .content .files .row.table-heading {
	color: #fcfe54;	
}

.file-explorer .content .files .row.hoverable:hover {
	background: #04aaac;
}

.file-explorer .content .files .row.hoverable:hover .column {
	border-color: #0402ac;
}

.file-explorer .content .files .row.hoverable:hover a {
	color: #0402ac;
}

.file-explorer .content .files .row a {
	color: #54fefc;
	text-decoration: none;
}

.file-explorer .content .files .row .column {
	width: 35%;
	display: inline-block;
	border-right: 2px solid #54fefc;
}

.file-explorer .content .files .row .column:last-child {
	border-right: none;
	width: 25%;
}

.file-explorer .content .files .row .column h3 {
	margin: 0;
	display: inline-block;
}

.file-explorer .content .files .row .column h3.center {
	flex-grow: 1;
	text-align: center;
}

.file-explorer .content .info-bar {
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #54fefc;
}

.file-explorer .content .info-bar * {
	padding: 0 20px;
}

.file-explorer .content .info-bar h4 {
	flex-grow: 1;
}


/* INFO SECTION */
.info-section .content {
	color: #54fefc;
	text-align: center;
}

.info-section p {
}

.info-section hr {
	width: 100%;
	border-color: #04aaac;
	border-top: 1px solid #04aaac;
}

.info-section pre {
	display: inline-block;
	text-align: left;
	font-size: .8em;
}

.yellow {
	color: #fcfe54;
}

.left {
	padding-left: 15px;
	text-align: left;
}
